{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wg-pizza</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
<div class="hero">
    <div class="navbar">
        <!-- <img src="images/logo.png" alt="" class="logo"> -->
        <button type="button"> Order pizza</button>
    </div>
    <div class="content">
        <small style="font-size: 20px;">Welcome to our</small>
        <h1>1000 Degrees Pizza of Winter Garden - NBA</h1>
    </div>
    <div class="bubbles">
        <img src="{% static 'images/bubble.png' %}" alt="">
        <img src="{% static 'images/bubble.png' %}" alt="">

        <img src="{% static 'images/bubble.png' %}" alt="">

        <img src="{% static 'images/bubble.png' %}" alt="">

        <img src="{% static 'images/bubble.png' %}" alt="">

        <img src="{% static 'images/bubble.png' %}" alt="">

        <img src="{% static 'images/bubble.png' %}" alt="">

    </div>
</div>

<section class="gallery-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div id="mdb-lightbox-ui">
                    <h1 class="text-center text-box">Pizza Gallery</h1>
                    <br><br>
                </div>

                <div class="mdb-lightbox no-margin">

                    <figure class="col-md-4 gallery">

                        <div class="box">
                            <div class="imgBox">
                                <img alt="picture" src="{% static 'images/pizza/4-cheese.png' %}" class="img-fluid">
                            </div>
                            <div class="details">
                                <div class="content">

                                </div>
                            </div>
                        </div>
                        <h3 class="text-center my-3">4-cheese</h3>

                    </figure>

                    <figure class="col-md-4 gallery">
                        <div class="box">
                            <div class="imgBox">
                                <img alt="picture" src="{% static 'images/pizza/buffalo-chicken.png' %}"
                                     class="img-fluid"/>
                            </div>
                            <div class="details">
                                <div class="content">

                                </div>
                            </div>
                        </div>
                        <h3 class="text-center my-3">buffalo-chicken</h3>
                    </figure>

                    <figure class="col-md-4 gallery">

                        <div class="box">
                            <div class="imgBox">
                                <img alt="picture" src="{% static 'images/pizza/johnny-the-meatball.png' %}"
                                     class="img-fluid"/>
                            </div>
                            <div class="details">
                                <div class="content">

                                </div>
                            </div>
                        </div>
                        <h3 class="text-center my-3">johnny-the-meatball</h3>

                    </figure>

                    <figure class="col-md-4 gallery">
                        <div class="box">
                            <div class="imgBox">
                                <img alt="picture" src="{% static 'images/pizza/meatza1.png' %}" class="img-fluid"/>
                            </div>
                            <div class="details">
                                <div class="content">

                                </div>
                            </div>
                        </div>
                        <h3 class="text-center my-3">meatza</h3>

                    </figure>

                    <figure class="col-md-4 gallery">
                        <div class="box">
                            <div class="imgBox">
                                <img alt="picture" src="{% static 'images/pizza/new-yorker.png' %}" class="img-fluid"/>
                            </div>
                            <div class="details">
                                <div class="content">

                                </div>
                            </div>
                        </div>
                        <h3 class="text-center my-3">new-yorker</h3>

                    </figure>

                    <figure class="col-md-4 gallery">
                        <div class="box">
                            <div class="imgBox">
                                <img alt="picture" src="{% static 'images/pizza/sausage-peppers1.png' %}"
                                     class="img-fluid"/>
                            </div>
                            <div class="details">
                                <div class="content">

                                </div>
                            </div>
                        </div>
                        <h3 class="text-center my-3">sausage-peppers</h3>

                    </figure>

                    <figure class="col-md-4 gallery">
                        <div class="box">
                            <div class="imgBox">
                                <img alt="picture" src="{% static 'images/pizza/smoky-pollo.png' %}" class="img-fluid"/>
                            </div>
                            <div class="details">
                                <div class="content">

                                </div>
                            </div>
                        </div>
                        <h3 class="text-center my-3">smoky-pollo</h3>

                    </figure>

                    <figure class="col-md-4 gallery">
                        <div class="box">
                            <div class="imgBox">
                                <img alt="picture" src="{% static 'images/pizza/the-philly.png' %}" class="img-fluid"/>
                            </div>
                            <div class="details">
                                <div class="content">

                                </div>
                            </div>
                        </div>
                        <h3 class="text-center my-3">the-philly</h3>

                    </figure>

                    <figure class="col-md-4 gallery">
                        <div class="box">
                            <div class="imgBox">
                                <img alt="picture" src="{% static 'images/pizza/tony-pepperoni.png' %}"
                                     class="img-fluid"/>
                            </div>
                            <div class="details">
                                <div class="content">

                                </div>
                            </div>
                        </div>
                        <h3 class="text-center my-3">tony-pepperoni</h3>

                    </figure>

                    <figure class="col-md-4 gallery">
                        <div class="box">
                            <div class="imgBox">
                                <img alt="picture" src="{% static 'images/pizza/trenton-tomato-pie.png' %}"
                                     class="img-fluid"/>
                            </div>
                            <div class="details">
                                <div class="content">

                                </div>
                            </div>
                        </div>
                        <h3 class="text-center my-3">trenton-tomato-pie</h3>

                    </figure>

                    <figure class="col-md-4 gallery">
                        <div class="box">
                            <div class="imgBox">
                                <img alt="picture" src="{% static 'images/pizza/tuscan.png' %}" class="img-fluid"/>
                            </div>
                            <div class="details">
                                <div class="content">

                                </div>
                            </div>
                        </div>
                        <h3 class="text-center my-3">tuscan</h3>

                    </figure>

                    <figure class="col-md-4 gallery">
                        <div class="box">
                            <div class="imgBox">
                                <img alt="picture" src="{% static 'images/pizza/white-out1.png' %}" class="img-fluid"/>
                            </div>
                            <div class="details">
                                <div class="content">

                                </div>
                            </div>
                        </div>
                        <h3 class="text-center my-3">white-out</h3>

                    </figure>

                    <figure class="col-md-4 gallery">
                        <div class="box">
                            <div class="imgBox">
                                <img alt="picture" src="{% static 'images/pizza/h-fire.png' %}" class="img-fluid"/>
                            </div>
                            <div class="details">
                                <div class="content">

                                </div>
                            </div>
                        </div>
                        <h3 class="text-center my-3">h-fire</h3>

                    </figure>

                    <figure class="col-md-4 gallery">
                        <div class="box">
                            <div class="imgBox">
                                <img alt="picture" src="{% static 'images/pizza/margherita.png' %}" class="img-fluid"/>
                            </div>
                            <div class="details">
                                <div class="content">

                                </div>
                            </div>
                        </div>
                        <h3 class="text-center my-3">margherita</h3>

                    </figure>

                </div>

            </div>
        </div>
    </div>

</section>

<section class="others-gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div id="mdb-lightbox-ui">
                    <h1 class="text-center text-box">Others Gallery</h1>
                    <br><br>
                </div>

                <div class="mdb-lightbox no-margin">

                    <figure class="col-md-3 sec-gallery">

                        <div class="box">
                            <div class="imgBox">
                                <img alt="picture" src="{% static 'images/others/breadsticks.jpg' %}"
                                     class="img-fluid">
                            </div>
                            <div class="details">
                                <div class="content">

                                </div>
                            </div>
                        </div>
                        <h3 class="text-center my-3">bread sticks</h3>

                    </figure>

                    <figure class="col-md-3 sec-gallery">
                        <div class="box">
                            <div class="imgBox">
                                <img alt="picture" src="{% static 'images/others/cinnstick.jpg' %}"
                                     class="img-fluid"/>
                            </div>
                            <div class="details">
                                <div class="content">

                                </div>
                            </div>
                        </div>
                        <h3 class="text-center my-3">cinn sticks</h3>
                    </figure>

                    <figure class="col-md-3 sec-gallery">

                        <div class="box">
                            <div class="imgBox">
                                <img alt="picture" src="{% static 'images/others/salad.jpg' %}" class="img-fluid"/>
                            </div>
                            <div class="details">
                                <div class="content">

                                </div>
                            </div>
                        </div>
                        <h3 class="text-center my-3">salad</h3>

                    </figure>

                    <figure class="col-md-3 sec-gallery">
                        <div class="box">
                            <div class="imgBox">
                                <img alt="picture" src="{% static 'images/others/wings.jpg' %}" class="img-fluid"/>
                            </div>
                            <div class="details">
                                <div class="content">

                                </div>
                            </div>
                        </div>
                        <h3 class="text-center my-3">wings</h3>

                    </figure>


                </div>

            </div>
        </div>
    </div>
    <hr>
</section>


<section class="form-section ">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center text-box"> 1000 Degrees Pizza of Winter Garden (only) - NBA</h1>
                <br><br>

            </div>
            <div class="col-12 shadow p-3 mb-5 bg-white rounded">
                <h4>Order form exclusively for the NBA</h4>

                <h4>Our pizzas are authentic Neapolitan style pizza coming in the 10" and the 14" style.</h4>

                <p>1000 Degrees Pizza of Winter Garden <br>
                    13599 West Colonial Drive, Winter Garden 34786 <br>
                    wgpizza1000@gmail.com <br></p>

                <p>VIP Customer Care
                <h5>407-504-7677 (Oriel)</h5>
                <h5>407-283-7770 (Farid)</h5>
                <h5>407-796-2122 (Brian)</h5>
                </p>
                <p>
                    Email is only required for invoicing and receipt. Will not be used otherwise or shared without your
                    permission. </p>
                <p>
                    Orders should be 24 -48 hours in advance. Individual orders, please complete the form and we will
                    message or call you to confirm.
                </p>

            </div>

        </div>
        <br><br>
        <div class="row">
            <div class="">
                <form action="/action_page.php" class="shadow p-3 mb-5 bg-white rounded">
                    <h2>Before Order a pizza Please fill up this form.</h2>
                    <p>Email is only required for invoicing and receipt. Will not be used otherwise or shared without
                        your permission.
                        Orders should be 24 -48 hours in advance. Individual orders, please complete the form and we
                        will message or call you to confirm. </p>
                    <section class="shadow p-3 mb-5 bg-white rounded">
                        <div class="form-group">
                            <label for="email">Email address:</label>
                            <input type="email" class="form-control required" id="email"
                                   placeholder="Enter your valid email">
                        </div>
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control required" id="name" placeholder="Enter your Name">
                        </div>
                        <div class="form-group">
                            <label for="phone_number">Phone Number:</label>
                            <input type="number" class="form-control required" id="phone_number"
                                   placeholder="Enter your contact Number">
                        </div>
                        <div class="form-group">
                            <label for="delivery_date">Delivery Date:</label>
                            <input type="date" class="form-control required" id="delivery_date"
                                   placeholder="Select Delivery Date">
                        </div>
                        <div class="form-group">
                            <label for="delivery_time">Delivery Time:</label>
                            <input type="time" class="form-control required" id="delivery_time"
                                   placeholder="Select Delivery Time">
                        </div>
                        <div class="form-group">
                            <label for="drop_of_location">Drop off location :</label>
                            <select name="drop_of_location" id="drop_of_location">
                                <option value="coronado_el_mercado">Coronado - El Mercado</option>
                                <option value="coronado_maya_grill">Coronado - Maya Grill</option>
                                <option value="coronado_team_meal_room">Coronado - Team Meal Room</option>
                                <option value="grand_floridian">Grand Floridian</option>
                                <option value="yacht_club">Yacht Club</option>
                            </select>
                        </div>
                    </section>
                    <section class="shadow p-3 mb-5 bg-white rounded">
                        <div class="form-group">
                            <h3 class="text-center"> Drop-off Info (Take Note)</h3>
                            <p>
                            <h6>For Teams: Your order will be available at the Food Drop-Off point next to your Team
                                Meal
                                Room.</h6>

                            <h6> For on-campus staff: Your order will be available at the Staff Food Drop-Off point at
                                the
                                Coronado, located at Mercado.</h6>

                            <h6> For Referees: Your order will be available at the Food Drop-Off point in the Referee
                                Meal
                                Room.</h6>

                            <h6>For Media:Your order will be available at the Media Food Drop-Off point at the Coronado,
                                located next to Maya Grill entrance.</h6>
                            </p>
                            <label for="drop_of_contact">Drop off Contact (if someone different):</label>
                            <input type="text" class="form-control" id="drop_of_contact">
                        </div>
                        <div class="form-group">
                            <label for="team">Team:</label>
                            <select name="team" id="team">
                                <option value="coronado_el_mercado">1. On-campus Staff</option>
                                <option value="coronado_maya_grill">2. Media</option>
                                <option value="coronado_team_meal_room">3. Referees</option>
                                <option value="grand_floridian">4. Boston Celtics</option>
                                <option value="yacht_club">5. Brooklyn Nets</option>
                                <option value="yacht_club">6. Dallas Mavericks</option>
                                <option value="yacht_club">7. Denver Nuggets</option>
                                <option value="yacht_club">8. Houston Rockets</option>
                                <option value="yacht_club">9. Indiana Pacers</option>
                                <option value="yacht_club">10. Los Angels Clippers</option>
                                <option value="yacht_club">11. Los Angels Lakers</option>
                                <option value="yacht_club">12. Memphis Grizzlies</option>
                                <option value="yacht_club">13. Miami Heat</option>
                                <option value="yacht_club">14. Milwaukee Bucks</option>
                                <option value="yacht_club">15. New Orleans Pelicans</option>
                                <option value="yacht_club">16. Oklahoma City Thunder</option>
                                <option value="yacht_club">17. Orlando Magic</option>
                                <option value="yacht_club">18. Philadelphia 76ers</option>
                                <option value="yacht_club">19. Phoenix Suns</option>
                                <option value="yacht_club">20. Portland Trail Blazers</option>
                                <option value="yacht_club">21. Sacramento Kings</option>
                                <option value="yacht_club">22. San Antonio Spurs</option>
                                <option value="yacht_club">23. Toronto Raptors</option>
                                <option value="yacht_club">24. Utah Jazz</option>
                                <option value="yacht_club">25. washington Wizards</option>
                            </select>
                        </div>
                    </section>
                    <section>

                        <div>
                            <h1 class="text-center">What Would You Like?</h1>
                            <h5>Make your order selections below. Be sure to let us know of any special instructions
                                and/or
                                quantities after you have made your selection.</h5>
                            <h5>
                                You will receive confirmation of order and an invoice 24 hours after your order is
                                submitted.</h5>
                        </div>
                    </section>
                    <section class="">

                            <h4 class="text-center">Order - Pizza </h4>
                        <div class=" col-12 ">

                            <div class="col-6 float-left shadow p-3 mb-5 bg-white rounded">
                                <input type="checkbox" name="vehicle1" value="Bike">
                                <label for="1"> Tuscan Chicken Pizza 10" $9.95</label><br>
                                <input type="checkbox" name="vehicle2" value="Car">
                                <label for="3"> White Out 10" $9.95</label><br>
                                <input type="checkbox" name="vehicle3" value="Boat">
                                <label for="5">Hawaiian Fire 10" $9.95</label><br>
                                <input type="checkbox" name="vehicle3" value="Boat">
                                <label for="7"> Margherita 10" $8.95</label><br>
                                <input type="checkbox" name="vehicle3" value="Boat">
                                <label for="9"> Classic New Yorker 10" $8.95</label><br>
                                <input type="checkbox" name="vehicle3" value="Boat">
                                <label for="11"> Tony Pepperoni 10" $8.95</label><br>
                                <input type="checkbox" name="vehicle3" value="Boat">
                                <label for="13"> Johnny The Meatball 10" $8.95</label><br>
                                <input type="checkbox" name="vehicle3" value="Boat">
                                <label for="15"> Quattro Formaggio 10" $9.95</label><br>
                                <input type="checkbox" name="vehicle3" value="Boat">
                                <label for="17"> Buffalo Chicken 10" $9.95</label><br>
                                <input type="checkbox" name="vehicle3" value="Boat">
                                <label for="19"> Sausage & Peppers 10" $9.95</label><br>
                                <input type="checkbox" name="vehicle3" value="Boat">
                                <label for="21"> Smokey Pollo 10" $9.95</label><br>
                                <input type="checkbox" name="vehicle3" value="Boat">
                                <label for="23"> The Philly 10" $9.95</label><br>
                                <input type="checkbox" name="vehicle3" value="Boat">
                                <label for="25"> The Meatza 10" $9.95</label><br>
                                <input type="checkbox" name="vehicle3" value="Boat">
                                <label for="27"> Bacon Mac & Cheese 10" $9.95</label><br>
                                <input type="checkbox" name="vehicle3" value="Boat">
                                <label for="29"> Lasagna 10" $9.95</label><br>
                            </div>
                            <div class="col-6 float-left shadow p-3 mb-5 bg-white rounded">
                                <input type="checkbox" name="vehicle1" value="Bike">
                                <label for="2"> Tuscan Chicken Pizza 14" $17.95</label><br>
                                <input type="checkbox" name="vehicle2" value="Car">
                                <label for="4"> White Out 14" $17.95</label><br>
                                <input type="checkbox" name="vehicle3" value="Boat">
                                <label for="6"> Hawaiian Fire 14" $17.95</label><br>
                                <input type="checkbox" name="vehicle3" value="Boat">
                                <label for="8"> Margherita 14" $16.95</label><br>
                                <input type="checkbox" name="vehicle3" value="Boat">
                                <label for="10"> Classic New Yorker 14" $16.95</label><br>
                                <input type="checkbox" name="vehicle3" value="Boat">
                                <label for="12"> Tony Pepperoni 14" $16.95</label><br>
                                <input type="checkbox" name="vehicle3" value="Boat">
                                <label for="14"> Sausage & Peppers 14" $17.95</label><br>
                                <input type="checkbox" name="vehicle3" value="Boat">
                                <label for="16"> Quattro Formaggio 14" $17.95</label><br>
                                <input type="checkbox" name="vehicle3" value="Boat">
                                <label for="18"> Buffalo Chicken 14" $17.95</label><br>
                                <input type="checkbox" name="vehicle3" value="Boat">
                                <label for="20"> I have a boat</label><br>
                                <input type="checkbox" name="vehicle3" value="Boat">
                                <label for="22"> Smokey Pollo 14" $17.95</label><br>
                                <input type="checkbox" name="vehicle3" value="Boat">
                                <label for="24"> The Philly 14" $17.95</label><br>
                                <input type="checkbox" name="vehicle3" value="Boat">
                                <label for="26"> The Meatza 14" $17.95</label><br>
                                <input type="checkbox" name="vehicle3" value="Boat">
                                <label for="28"> Bacon Mac & Cheese 14" $17.95</label><br>
                                <input type="checkbox" name="vehicle3" value="Boat">
                                <label for="30"> Lasagna 14" $17.95</label><br>
                            </div>

                        </div>
                    </section>


                    <section>
                        <div class="row">
                            <div class="col-12">
                                <h2 class="text-center">Gluten Free and Cauliflower Crust </h2>
                                <p> * 10" available for an additional $2.00</p>

                                <div class="col-4 float-left">
                                    <label class="radio-inline">
                                        1. Gluten Free 10"
                                    </label>
                                </div>
                                <div class="col-2 float-left"><input type="radio" name="optradio"> Yes</div>
                                <div class="col-2 float-left"><input type="radio" name="optradio"> No</div>
                                <div class="col-4 float-left">
                                    <input type="text" name="qty" placeholder=" If yes enter quantity">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="col-4 float-left">
                                    <label class="radio-inline">
                                        2. Cauliflower Crust 10"
                                    </label>
                                </div>
                                <div class="col-2 float-left"><input type="radio" name="optradio"> Yes</div>
                                <div class="col-2 float-left"><input type="radio" name="optradio"> No</div>
                                <div class="col-4 float-left">
                                    <input type="text" name="qty" placeholder=" If yes enter quantity">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="col-4 float-left">
                                    <label class="radio-inline">
                                        3. Vegan Cheese
                                    </label>
                                </div>
                                <div class="col-2 float-left"><input type="radio" name="optradio"> Yes</div>
                                <div class="col-2 float-left"><input type="radio" name="optradio"> No</div>
                                <div class="col-4 float-left">
                                    <input type="text" name="qty" placeholder=" If yes enter quantity">
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="row">
                            <div class="col-12">
                                <h3 class="text-center">Appetizers - Breads</h3>
                                <div class="col-4 float-left">
                                    <label for="">Select your Breads</label>
                                </div>
                                <div class="col-4 float-left">
                                    <select name="" id="">
                                        <option value="">Cheesy Garlic Bread $5.95</option>
                                        <option value="">Bacon Cheesy Garlic Bread $6.95</option>
                                        <option value="">Pepperoni Cheesy Garlic Bread $6.95</option>
                                    </select>
                                </div>
                                <div class="col-4 float-left">
                                    <input type="text" placeholder="Enter Quantity">
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="row">
                            <div class="col-12">
                                <h3 class="text-center">Appetizers - Wings</h3>
                                <div class="col-4 float-left">
                                    <label for="">Select your Wings</label>

                                </div>
                                <div class="col-4  float-left">
                                    <select name="" id="">
                                        <option value="">6 Piece Traditional Wings $7.95</option>
                                        <option value="">12 Piece Traditional Wings $12.95</option>
                                        <option value="">24 Piece Traditional Wings $24.95</option>
                                    </select>
                                </div>
                                <div class="col-4 float-left">
                                    <input type="text" placeholder="Enter Quantity">
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="row">
                            <div class="col-12">
                                <h3 class="text-center"> Appetizers - Wings Sauces</h3>
                                <h6> * Extra Sauces on the side $1.00(if needed)</h6>
                                <div class="col-4 float-left">
                                    <label for="">Select your Wings Sauces</label>

                                </div>
                                <div class="col-4 float-left">
                                    <select name="" id="">
                                        <option value="">Bourbon BBQ</option>
                                        <option value="">Buffalo</option>
                                        <option value="">Crimson Heat</option>
                                        <option value="">Garlic Parm</option>
                                        <option value="">Mango Habanero</option>
                                        <option value="">Sriracha</option>
                                        <option value="">Plain</option>
                                    </select>
                                </div>
                                <div class="col-4 float-left">
                                    <input type="text" placeholder="Enter Quantity">
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="row">
                            <div class="col-12">
                                <h3 class="text-center"> Salads</h3>
                                <div class="col-4 float-left">
                                    <label for="">Select your Salad</label>

                                </div>
                                <div class="col-4 float-left">
                                    <select name="" id="">
                                        <option value="">Chicken Caesar Salad $8.95</option>
                                        <option value="">Caprese Salad $8.95</option>
                                        <option value="">Buffalo Chicken Salad $8.95</option>
                                        <option value="">Greek Salad $8.95</option>
                                        <option value="">Tuscan Chicken Salad $8.95</option>
                                    </select>
                                </div>
                                <div class="col-4 float-left">
                                    <input type="text" placeholder="Enter Quantity">
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="row">
                            <div class="col-12">
                                <h3 class="text-center"> Salad Dressings (Optional)</h3>
                                <h6> * Extra dressings on the side $1.00 (if needed)</h6>
                                <div class="col-4 float-left">
                                    <label for="">Select your Salad Dressings</label>

                                </div>
                                <div class="col-4 float-left">
                                    <select name="" id="">
                                        <option value="">Blue Cheese Dressing</option>
                                        <option value="">Ranch</option>
                                        <option value="">French Dressing</option>
                                        <option value="">Balsamic Vinaigrette</option>
                                        <option value="">Caesar Dressing</option>
                                        <option value="">Honey Mustard Dressing</option>
                                    </select>
                                </div>
                                <div class="col-4 float-left">
                                    <input type="text" placeholder="Enter Quantity">
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="row">
                            <div class="col-12">
                                <h3 class="text-center"> Desserts</h3>
                                <div class="col-4 float-left">
                                    <label for="">Select your Desserts</label>

                                </div>
                                <div class="col-4 float-left">
                                    <select name="" id="">
                                        <option value="">Cinnamon Sticks $5.99</option>
                                        <option value="">Macaroons $0.99</option>
                                        <option value="">Cookies - Decadent Chocolate Chunk $2.29</option>
                                        <option value="">Cookies - Chocolate Chip Cookies $1.29</option>
                                        <option value="">Cookies - Sugar Cookies $1.29</option>
                                        <option value="">Chocolate Brownies $2.29</option>
                                    </select>
                                </div>
                                <div class="col-4 float-left">
                                    <input type="text" placeholder="Enter Quantity">
                                </div>
                            </div>
                        </div>
                    </section>

                    <div class="row">
                        <div class="col-12">
                            <label for="w3review">Special Requests (We will try our best to fulfill)</label><br>
                        </div>


                        <textarea id="w3review" name="w3review" rows="4" cols="100">

                        </textarea>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <h4>You will receive confirmation of order and an invoice within 2 hours after your order is
                                submitted. Gratuity is 22% and the Delivery Fee is $10. Please confirm that you want to
                                place this order by selecting CONFIRM below.</h4>

                            <button class="btn btn-outline-primary">Confirm</button>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>

</section>


<footer>
    <h6 class="text-center bg-dark text-light">© 2020 - 2020 Baset.</h6>
</footer>
<script src="{% static 'gallery.js' %}"></script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>