*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.logo{
    width: 100px;
    cursor: pointer;
}
.navbar{
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button{
    color: #fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px!important;
    outline: none;
    cursor: pointer;
}
.content{
    color: #fbfcfd;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
}
.bubbles img{
    width: 50px;
    animation: bubble 7s linear infinite;
}
.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -100px;
}
@keyframes bubble{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 2;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}
.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 20px;
}
.bubbles img:nth-child(2){
    animation-delay: 4s;
    width: 40px;
}
.bubbles img:nth-child(3){
    animation-delay: 3s;
    width: 15px;
}
.bubbles img:nth-child(4){
    animation-delay: 5s;
    width: 35px;
}
.bubbles img:nth-child(5){
    animation-delay: 2.5s;
    width: 20px;
}
.bubbles img:nth-child(6){
    animation-delay: 4.5s;
    width: 25px;
}
.bubbles img:nth-child(7){
    animation-delay: 3.5s;
    width: 30px;
}
.col-md-4{
    float: left;
}
.gallery-section{
    padding-top: 30px;
}
.sec-gallery{
    float: left;
}